<nav class="nav">
    <div class="nav_inner">

        <div class="leftBtnArea">
            <div class="menuArea">
                <ul id="dropdownMenu">
                    <li data-cate="web" id="menu_web" class=""><span>web</span></li>
                    <li data-cate="brand" id="menu_brand" class=""><span>brand</span></li>
                    <li data-cate="others" id="menu_others"><span>ui/ux</span></li>
                </ul>
                <ul id="openedMenu">
                    <li data-cate="web" class=""><a href="../projects/project-web-1.html">web</a></li>
                    <li data-cate="brand" class=""><a href="../projects/project-brand-1.html">brand</a></li>
                    <li data-cate="others" class=""><a href="../projects/project-others-1.html">ui/ux</a></li>
                </ul>
            </div>
            <div class="tabArea brand">
                <a id="tab_mod" href="../projects/project-brand-1.html">모드파티 & 모드라운지</a>
                <a id="tab_reporem" href="../projects/project-brand-2.html">리포렘</a>
            </div>
            <div class="tabArea web">
                <a id="tab_modweb" href="../projects/project-web-1.html">모드라운지</a>
                <a id="tab_ccweb" href="../projects/project-web-2.html">클래시 커넥트</a>
            </div>
            <div class="tabArea others">
                <a id="tab_sbothers" href="../projects/project-others-1.html">스미스앤버튼</a>
            </div>
        </div>
        <div class="rightBtnArea">
            <div class="back imgWrap box32">
                <a href="/#page-3"><img src="../assets/icons/ArrowUUpLeft.svg" alt="뒤로가기 버튼 아이콘"></a>
            </div>
        </div>
        
    </div>
</nav>




