@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/*---------------
Supahscroll
---------------*/
.supah-scroll {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform;
    overflow: hidden;
}

* {
    font-family: 'Pretendard-Regular';
}
body {
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: unset;
    font-family: 'Pretendard-Regular';
}
li, ul {
    padding: 0; margin: 0;
}
.back {
    display: block;
    min-width: 32px; min-height: 32px;
}

.imgWrap {
    display: inline-block;
    position: relative;
}
.imgWrap img {
    display: block;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.box16 {
    width: 16px;
}
.box32 {
    width: 32px; height: 32px;
}

#wrap #container {
    padding-top: 51px;
}
#wrap #container div {
    display: block;
    width: 100%;
}
#wrap #container div img {
    display: block;
    width: 100%;
} 
